@{
    ViewBag.Title = "Trang chính sách";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<section class="section-content bg-white padding-y">
    <div class="container">

        <h5 class="card-title"></h5>
        <p>
            <h1 style="scrollbar-darkshadow-color"> Chính sách đổi trả hàng</h1> <br />

            Bất cứ quý khách hàng đến mua hàng tại NNStore đều được hưởng những chế độ bảo hành tốt nhất trên Toàn Quốc. <br />
            Luôn cam kết là đơn vị có chế độ bảo hành tốt nhất MobileCity luôn tự hào là đơn vị số 1.<br />

            <h1 style="scrollbar-darkshadow-color">Quyền lợi của khách hàng khi mua hàng tại MobileCity</h1> <br />

            <h2 style="blue">1. Đối với máy mới:</h2><br />
            Bảo hành 12 tháng trừ nguồn và màn hình.<br />
            Đổi mới hoặc hoàn tiền nếu có lỗi của NSX trong 15 ngày đầu tiên<br />
            Hỗ trợ phần mềm trọn đời máy.<br />
            Tặng kèm khách hàng Voucher giảm giá áp dụng cho mua máy và sửa chữa.<br />
            Hỗ trợ phần mềm tối đa trọn đời máy.<br />
            <h2 style="blue"> a. Bảo hành vàng</h2><br />

            Là gói bảo hành bổ sung, khách hàng có thể tùy chọn sử dụng. Khi sử dụng gói bảo hành vàng này khách hàng được hưởng những quyền lợi sau:<br />
            <h2 style="blue"> b. Đối với khách hàng mua hàng trực tiếp tại cửa hàng.</h2><br />

            Bảo hành 12 tháng cả nguồn và màn hình.<br />
            Đổi mới hoặc hoàn tiền nếu có lỗi của NSX trong 30 ngày đầu tiên<br />
            Tặng kèm khách hàng dán cường lực và ốp lưng (Trong trường hợp chưa có PK sẽ quy đổi sang quà tặng khác.)<br />
            Tặng kèm khách Voucher giảm giá áp dụng cho mua hàng và sửa chữa máy.<br />
            Hỗ trợ phần mềm tối đa trọn đời máy.<br />
            <h2 style="blue"> c. Đối với khách hàng mua hàng từ xa (Mua hàng Online)</h2><br />

            Bảo hành 13 tháng cả nguồn và màn hình.<br />
            Đổi mới hoặc hoàn tiền nếu có lỗi của NSX trong 60 ngày đầu tiên.<br />
            Tặng kèm khách hàng dán cường lực và ốp lưng (Trong trường hợp chưa có PK sẽ quy đổi sang quà tặng khác.)<br />
            Tặng kèm khách Voucher giảm giá áp dụng cho mua hàng và sửa chữa máy.<br />
            Hỗ trợ phần mềm tối đa trọn đời máy.<br />
            <h2 style="blue"> 2. Đối với máy cũ:</h2><br />

            Bảo hành 6 tháng trừ nguồn và màn hình.<br />
            Đổi mới hoặc hoàn tiền nếu có lỗi của NSX trong 7 ngày đầu tiên<br />
            Hỗ trợ phần mềm trọn đời máy.<br />
            Tặng kèm khách hàng Voucher giảm giá áp dụng cho mua máy và sửa chữa.<br />
            Hỗ trợ phần mềm tối đa trọn đời máy.<br />
            <h2 style="blue">a. Bảo hành vàng*</h2><br />

            Là gói bảo hành bổ sung, khách hàng có thể tùy chọn sử dụng. Khi sử dụng gói bảo hành vàng này khách hàng được hưởng những quyền lợi sau:<br />
            <h2 style="blue"> b. Đối với khách hàng mua hàng trực tiếp tại cửa hàng</h2><br />

            Bảo hành 6 tháng cả nguồn và màn hình.<br />
            Đổi mới hoặc hoàn tiền nếu có lỗi của NSX trong 15 ngày đầu tiên<br />
            Tặng kèm khách hàng dán cường lực và ốp lưng (Trong trường hợp chưa có PK sẽ quy đổi sang quà tặng khác.)<br />
            Tặng kèm khách Voucher giảm giá áp dụng cho mua hàng và sửa chữa máy.<br />
            Hỗ trợ phần mềm tối đa trọn đời máy.<br />
            <h2 style="blue">c. Đối với khách hàng mua hàng từ xa (Mua hàng Online)</h2><br />

            Bảo hành 7 tháng cả nguồn và màn hình.<br />
            Đổi mới hoặc hoàn tiền nếu có lỗi của NSX trong 30 ngày đầu tiên.
            Tặng kèm khách hàng dán cường lực và ốp lưng (Trong trường hợp chưa có PK sẽ quy đổi sang quà tặng khác.)<br />
            Tặng kèm khách Voucher giảm giá áp dụng cho mua hàng và sửa chữa máy.<br />
            Hỗ trợ phần mềm tối đa trọn đời máy.<br />


        </p>
        <a href="javascript: history.back()" class="btn btn-light"> &laquo Quay lại</a>
    </div>
</section>