@{
    ViewBag.Title = "Contact";
}


<section class="section-content bg-white padding-y">
    <div class="container">

        <h5 class="card-title">Mọi thông tin liên hệ quý khách có thể tra cứu sau đây:</h5>
        <p>
            <h1 style="scrollbar-darkshadow-color">Hà Nội</h1> <br />
            120 Thái Hà, Q. Đống Đa<br />
            Điện thoại: 0969.120.120 (Bán hàng) - 037.437.9999 (Kỹ thuật)<br />
            98 Cầu Giấy, Q. Cầu Giấy<br />
            Điện thoại: 096.1111.398 (Bán hàng) - 037.437.9999 (Kỹ thuật)<br />

            42 Phố Vọng, Hai Bà Trưng<br />
            Điện thoại: 0979.884242 (Bán hàng) - 037.437.9999 (Kỹ thuật)<br />
        </p>
        <p>
            <h1 style="scrollbar-darkshadow-color">Hồ Chí Minh</h1> <br />
            123 Trần Quang Khải, Q.1 <br />
            Điện thoại: 0965.123.123 - 0969.520.520 <br />

            602 Lê Hồng Phong, P.10, Q.10 <br />
            Điện thoại: 097.1111.602 - 097.3333.602 <br />
        </p>


        <p>
            <h1 style="scrollbar-darkshadow-color">
                Đà Nẵng
            </h1><br />
            97 Hàm Nghi, Q.Thanh Khê<br />
            Điện thoại: 096.123.9797 - 097.123.9797
        </p>


        <a href="javascript: history.back()" class="btn btn-light"> &laquo Quay lại</a>



    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->